.btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    &__btn {
        text-align: center;
        width: 135px;
        font-weight: 700;
        font-size: 14px;
        // line-height: 21px;
        height: 45px;
        a {
            display: block;
            color: #000;
            text-decoration: none;
            line-height: 45px;
        }
        &_active {
            background-color: $main-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}