@media (max-width: 1500px) {
    .sidepanel {
        left: 10px;
    }
    .promo__title {
        font-size: 30px;
        line-height: 35px;
    }
    .btns__btn {
        height: 40px;
        a {
            line-height: 40px;
        }
    }
    .container {
        width: 90%;
    }
};

@media (max-width: 1024px) {
    .promo__title {
        width: 40%;
        font-size: 25px;
        line-height: 28px;
    };
    .aboutMe {
        &__wrapper {
            grid-template-columns: 30% 70%;
            grid-template-rows: minmax(50%, auto) minmax(50%, auto);
            grid-auto-rows: minmax(50%, auto);
            column-gap: 20px;
        }
        &__img {
            img {
                width: 100%;
            }
        }
    }
    .benefit {
        padding-top: 70px;
        &__wrapper {
            grid-template-columns: repeat(2,40%);
        }
    }
};

@media (max-width: 769px) {
    .container {
        width: 85%;
    };
    .aboutMe {
        padding-top: 80px;
        padding-right: 0;
        &__skills {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 10px;
        }
        &__skill {
            grid-template-columns: 40px 1fr;
            column-gap: 10px;
        }
    }
    .benefit {
        &__item {
            margin-top: 20px;
        }
    }
};

@media (max-width: 426px) {
    .container {
        width: 90%;
    };
    .sidepanel {
        display: none;
    }
    .hamburger {
        top:auto;
        bottom: 20px;
        span {
            background: rgba(151, 178, 245, 0.72);
        }
    }
    .promo {
        padding-top: 10px;
        &__subtitle {
            font-size: 12px;
            &::before {
                width: 20px;
                height: 20px;
                top: 1px;
            }
        }
        &__title {
            width: 65%;
            margin-top: 3px;
            font-size: 18px;
            line-height: 25px;
            br {
                display: none;
            }
        }
    }
    .btns {
        display: none;
    };
    .menu {
        &__block {
            width: 70%;
        }
        &__link {
            font-size: 22px;
            line-height: 31px;
        }
        &__close {
            top: auto;
            bottom: 25px;
        }
    };
    .aboutMe {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            grid-template-areas: 
            "aboutMe__header"
            "aboutMe__img" 
            "aboutMe__skills";
            column-gap: 0;
            row-gap: 10px;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__skills {
            margin-top: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
        &__skill {
            grid-template-rows: 21px minmax(60px, auto);
        }
    }
    .benefit {
        padding-top: 70px;
        &__wrapper {
            margin-top: 0;
            grid-template-columns: 1fr;
        }
        &__column {
            margin-top: 20px;
        }
    }
};