.portfolio {
    margin-top: 100px;

    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 330px) / repeat(4, 280px);
        grid-auto-rows: 330px;
        gap: 5px;
    }
    &__item {
        transition: all 0.5s;
        &-descr {
            margin-top: 10px;
            padding: 0 5px;
            color: #000;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        img {
            width: 100%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 3px 3px 20px;
        }
    }
    a {
        text-decoration: none;
        &::hover {
            text-decoration: none;
        }
    }
}