.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/me_1_clouds_800h2.JPG') center top/cover no-repeat;
    padding-top: 100px;
    &__title {
        margin-top: 10px;
        font-size: 43px;
        line-height: 48px;
    }
    &__subtitle {
        line-height: 24px;
        padding-left: 10px;
        z-index: 2;
        @include circle;
    }
}
