.sidepanel {
    position: fixed;
    top: 150px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    z-index: 3;
    &__divider {
        width: 2px;
        height: 50px;
        background-color: #000;
    }
    &__text {
        height: 60px;
        width: 25px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
            text-align: center;
        }
    }
    &__link {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
}