.skills {
    margin-top: 100px;

    &__wrapper {
        padding-top: 35px;
        display: grid;
        gap: 13px;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: 270px;
        grid-auto-rows: 270px;
    }
    &__item {
        padding: 30px;
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-ico {
            height: 65px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &-name {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__levels {
        margin-top: 80px;
        display: grid;
        column-gap: 45px;
        row-gap: 30px;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: 70px;
        
    }
    &__level {
        display: grid;
        grid-template-columns: 1fr 35px;
        justify-content: space-between;
        align-content: space-between;
        grid-template-areas: 
        "levelName levelPercent"
        "levelProgress levelProgress"
        ;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        &-name {
            padding-left: 14px;
            grid-area: levelName;
            @include circle;
        }
        &-percent {
            grid-area: levelPercent;
        }
        &-progress {
            position: relative;
            grid-area: levelProgress;
            height: 14px;
            border-radius: 4px;
            &Back {
                height: 100%;
                background: #E8E4DE;
            }
            &Front {
                position: absolute;
                height: 100%;
                bottom: 0;
                background: $main-color;
            }
        }
    }
}